body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: balck;
  overflow: hidden;
}

.main {
  flex: 1 0 auto;
  color: white;
  background-color: black;
}
nav {
  flex: 1 0 auto;
}

.clearfix {
  clear: both;
}

.material-icons.md-54 {
  font-size: 54px;
}
.material-icons.md-32 {
  font-size: 32px;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

footer {
  display: grid;
  grid-template-columns: 5% auto 15%;
  grid-template-areas:
    "info progress volume"
    "info controls volume";
}

.footer-artist-info {
  grid-area: info;
  justify-self: center;
}

#progress {
  grid-area: progress;
  justify-self: center;
  width: 92%;
}

#controls {
  grid-area: controls;
  justify-self: center;
  padding: 5px;
}

#volume {
  grid-area: volume;
  justify-self: right;
  width: 95%;
  margin-right: -5%;
}

#volumebar {
  width: 60%;
}

.current-song, .current-artist {
  text-align: right;
}

.sidenav-links {
  text-decoration: none;
  color: white;
}

#navlink {
  background-color: black;
  width: 100%;
}